<section class="login">
  <header>
    <h1>
      Login
    </h1>
    <div class="row">
    <div class="col-sm-6">
      <%= form_for :session, url: sessions_path do |u| %>
        <div class="form-group">
          <%= u.text_field :username, class: "form-control", placeholder: "username", required: true %>
        </div>

        <div class="form-group">
          <%= u.password_field :password, class: "form-control", placeholder: "password", required: true %>
        </div>

        <div class="form-group">
          <%= u.button "login", class: "btn btn-success" %>
        </div>

      <% end %>
    </div>
  </div>
    
    <h1>
      Create Account
    </h1>
    
    <div class="row">
      <div class="col-sm-6">
        <%= form_for @user do |u| %>
        <%= render "extra/errors", object: @user %>
        <div class="form-group">
          <%= u.text_field :username, class: "form-control", required: true, minlength: 2, maxlength: 15,placeholder: "username" %>
        </div>

        <div class="form-group">
          <%= u.password_field :password, class: "form-control", required: true, minlength: 10, placeholder: "password" %>
        </div>

        <div class="form-group">
          <%= u.button "create", class: "btn btn-success" %>
        </div>

        <% end %>
      </div>
    </div>
    
  </header>
</section>
